{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "semi": true
}
